ŠABLONY/n8n/slack-cowork-inbox-with-attachments.json
{
  "updatedAt": "2026-06-22T21:16:57.446Z",
  "createdAt": "2026-04-28T23:04:59.444Z",
  "id": "rCOoXlfbD1XcVmtn",
  "name": "Slack capture kanál → Cowork INBOX (with attachments)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0B0LJ86MKN",
          "mode": "list",
          "cachedResultName": "_claude-capture"
        },
        "options": {}
      },
      "id": "e8f5d4e9-aa84-44c7-a771-42806b556cb1",
      "name": "Slack: nová zpráva",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "eb1190e8-d509-45c1-afb0-b656ed55edee",
      "credentials": {
        "slackApi": {
          "id": "zy0y2ClkZqpTOAE6",
          "name": "Slack - Lukáš - RB EDU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Jen běžné zprávy s obsahem; přeskočí systémové subtype a prázdné pingy\nconst raw = $input.first().json;\nconst ev = raw.event || raw;\nif (!ev || (ev.type && ev.type !== 'message')) return [];\nconst skip = new Set([\n  'channel_join', 'channel_leave', 'group_join', 'message_changed', 'message_deleted',\n  'channel_topic', 'channel_purpose', 'channel_archive', 'channel_unarchive',\n  'pinned_item', 'unpinned_item', 'file_comment'\n]);\nif (ev.subtype && skip.has(ev.subtype)) return [];\nif (ev.subtype === 'bot_message') return [];\nif (!ev.channel) return [];\n\n// Soubory: přímé uploady na zprávu + přílohy z forwardovaných unfurlů\nconst directFiles = Array.isArray(ev.files) ? ev.files : [];\nconst unfurlFiles = (Array.isArray(ev.attachments) ? ev.attachments : [])\n  .flatMap((a) => (Array.isArray(a?.files) ? a.files : []));\nconst seen = new Set();\nconst files = [];\nfor (const f of [...directFiles, ...unfurlFiles]) {\n  const key = f?.id || f?.url_private_download;\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  files.push(f);\n}\n\nconst hasText = ev.text && String(ev.text).trim().length > 0;\nconst hasFiles = files.length > 0;\nconst hasAttachments = Array.isArray(ev.attachments) && ev.attachments.length > 0;\nif (!hasText && !hasFiles && !hasAttachments) return [];\nreturn [{ json: { channelId: ev.channel, slackEvent: ev, files } }];"
      },
      "id": "ca1d5a62-14fc-4db8-a9ec-984a15879dea",
      "name": "Filtrovat zprávy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "get",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channelId }}"
        },
        "options": {}
      },
      "id": "c872ce8b-3f3b-4aec-83e4-70cb779c2c34",
      "name": "Slack: Channel info",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        896,
        0
      ],
      "webhookId": "dfdc3725-1f2d-422c-9d10-8499e8931e34",
      "credentials": {
        "slackApi": {
          "id": "zy0y2ClkZqpTOAE6",
          "name": "Slack - Lukáš - RB EDU"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ ($('Sloučit kontext').first().json.files || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7dd12fa5-c78c-4faf-a67b-dc8b96d68288",
      "name": "Má přílohy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fan-out: 1 zpráva → N items, jeden per příloha\nconst pack = $('Sloučit kontext').first().json;\nconst e = pack.slackEvent;\nconst files = pack.files || [];\nconst date = new Date(parseFloat(e.ts) * 1000);\nconst ts = `${date.getFullYear()}-${String(date.getMonth()+1).padStart(2,'0')}-${String(date.getDate()).padStart(2,'0')}-${String(date.getHours()).padStart(2,'0')}${String(date.getMinutes()).padStart(2,'0')}`;\nreturn files.map((f, i) => {\n  const safeName = String(f.name || 'unnamed').replace(/[\\\\/]/g, '_');\n  const fileTag = f.id || `f${i}`;\n  return {\n    json: {\n      file: f,\n      ts,\n      targetName: `${ts}-${fileTag}-${safeName}`.substring(0, 200)\n    }\n  };\n});"
      },
      "id": "8d469e24-3dde-4795-a0f7-b5e25d1a1b33",
      "name": "Připrav přílohy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.file.url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "8afddde9-0d60-4b31-aeb2-c9ba0d56c677",
      "name": "Stáhni přílohu (Slack auth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        192
      ],
      "credentials": {
        "slackApi": {
          "id": "zy0y2ClkZqpTOAE6",
          "name": "Slack - Lukáš - RB EDU"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.targetName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1EppTJt45A8kOyQJoZ8BuneHtiU5nWlXN"
        },
        "options": {}
      },
      "id": "abac1512-0076-4600-8657-c660aea6a85d",
      "name": "Drive: Upload přílohy",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IKFHnIw3Csp8FHyI",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "uploadedAttachments",
        "options": {}
      },
      "id": "bddd2f8a-1552-473d-898c-0b77ffae9b09",
      "name": "Aggregate přílohy",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const pack = $('Sloučit kontext').first().json;\nconst e = pack.slackEvent;\nconst channelId = pack.channelId;\nconst ch = $('Slack: Channel info').first().json;\nconst channelName = ch.name || channelId || 'unknown';\n\n// Defensive: Aggregate přílohy běží jen ve větvi 'má přílohy = true'\nlet uploadedAttachments = [];\ntry {\n  const agg = $('Aggregate přílohy').first();\n  if (agg && agg.json && Array.isArray(agg.json.uploadedAttachments)) {\n    uploadedAttachments = agg.json.uploadedAttachments;\n  }\n} catch (_) { /* žádné přílohy v této větvi */ }\n\nconst date = new Date(parseFloat(e.ts) * 1000);\nconst ts = `${date.getFullYear()}-${String(date.getMonth()+1).padStart(2,'0')}-${String(date.getDate()).padStart(2,'0')}-${String(date.getHours()).padStart(2,'0')}${String(date.getMinutes()).padStart(2,'0')}`;\n\nconst ownText = (e.text && String(e.text).trim()) ? String(e.text) : '';\nconst attachments = Array.isArray(e.attachments) ? e.attachments : [];\nconst forwards = attachments.filter(a => a && (a.is_msg_unfurl || a.from_url || a.text || a.fallback));\n\nconst slugSrc = ownText || (forwards[0] && (forwards[0].text || forwards[0].fallback)) || 'zprava';\nconst textSlug = String(slugSrc).replace(/[^a-z0-9 ]/gi,'').trim().replace(/\\s+/g,'-').toLowerCase().substring(0, 50);\nconst filename = `${ts}-${channelName}-${textSlug || 'slack'}.md`.substring(0, 120);\n\nconst permalink = `https://slack.com/archives/${channelId}/p${String(e.ts).replace('.','')}`;\nconst threadNote = e.thread_ts && e.thread_ts !== e.ts ? `**Odpověď ve vlákně** (thread_ts: ${e.thread_ts})` : '';\n\nconst lines = [\n  `# #${channelName}`,\n  '',\n  `**Čas:** ${date.toLocaleString('cs-CZ')}`,\n  `**Uživatel (Slack ID):** ${e.user || '—'}`,\n  threadNote,\n  `**Odkaz:** ${permalink}`,\n  ''\n];\n\nif (ownText) {\n  lines.push('## Komentář', '', ownText, '');\n}\n\nif (forwards.length) {\n  lines.push(`## Forwardovaný obsah${forwards.length > 1 ? ` (${forwards.length})` : ''}`, '');\n  for (const a of forwards) {\n    const author = a.author_name || a.author_subname || '—';\n    const srcChannel = a.channel_name ? `#${a.channel_name}` : (a.channel_id || '');\n    const srcLink = a.from_url || '';\n    const srcTs = a.ts ? new Date(parseFloat(a.ts) * 1000).toLocaleString('cs-CZ') : '';\n    const body = String(a.text || a.fallback || '').replace(/^\\u200B+/, '').trim();\n    lines.push(`### ${author}${srcChannel ? ` v ${srcChannel}` : ''}${srcTs ? ` (${srcTs})` : ''}`);\n    if (srcLink) lines.push(`**Zdroj:** ${srcLink}`);\n    lines.push('');\n    lines.push(body || '_(prázdná příloha)_');\n    lines.push('');\n  }\n}\n\n\n// --- vlákna z Slack API ---\nconst ctx = $('Sloučit kontext').first().json;\nconst threadSections = ctx.threadSections || [];\nif (threadSections.length) {\n  lines.push('## Vlákno (Slack API)', '');\n  for (const sec of threadSections) {\n    const tag = sec.label === 'capture' ? 'capture kanál' : 'zdroj forwardu';\n    lines.push(`### Thread ${sec.key} (${tag})`, '');\n    for (const m of sec.messages) {\n      const mDate = new Date(parseFloat(m.ts || 0) * 1000).toLocaleString('cs-CZ');\n      const who = m.user || m.username || m.bot_id || '?';\n      lines.push(`#### ${who} — ${mDate}`, '', String(m.text || '').trim() || '_(prázdné)_', '');\n      if (Array.isArray(m.files) && m.files.length) {\n        lines.push('**Soubory:**');\n        for (const f of m.files) lines.push(`- ${f.name || f.id}`);\n        lines.push('');\n      }\n    }\n  }\n}\n\nif (uploadedAttachments.length) {\n  lines.push(`## Přílohy${uploadedAttachments.length > 1 ? ` (${uploadedAttachments.length})` : ''}`, '');\n  for (const a of uploadedAttachments) {\n    const link = a.webViewLink || '';\n    const name = a.name || '(bez jména)';\n    const mime = a.mimeType || '';\n    const sizeBytes = a.size ? parseInt(a.size, 10) : 0;\n    const sizeStr = sizeBytes ? (sizeBytes >= 1024*1024 ? `${(sizeBytes/1048576).toFixed(1)} MB` : `${Math.max(1, Math.round(sizeBytes/1024))} kB`) : '';\n    const meta = [mime, sizeStr].filter(Boolean).join(', ');\n    lines.push(`- [${name}](${link})${meta ? ` — ${meta}` : ''}`);\n  }\n  lines.push('');\n}\n\nif (!ownText && !forwards.length && !uploadedAttachments.length) {\n  lines.push('## Text', '', '_(bez textu — v původní zprávě mohou být jen přílohy)_', '');\n}\n\nconst md = lines.join('\\n');\n\nreturn [{ json: { filename, content: md } }];"
      },
      "id": "75c30540-4af3-4527-af79-b4d8560a5030",
      "name": "Format → Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.content }}",
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1EppTJt45A8kOyQJoZ8BuneHtiU5nWlXN",
          "mode": "url"
        },
        "options": {}
      },
      "id": "148f9c6a-420d-46a6-9111-21ccbf0a6645",
      "name": "Drive: Save .md to INBOX/slack/",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2432,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IKFHnIw3Csp8FHyI",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Filtrovat zprávy').first().json.channelId }}"
        },
        "timestamp": "={{ $('Filtrovat zprávy').first().json.slackEvent.ts }}",
        "name": "white_check_mark"
      },
      "id": "f8e7a292-971c-44ec-b086-605d94e1d141",
      "name": "Slack: ✅ reakce po uložení",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2656,
        0
      ],
      "webhookId": "e69db996-d146-46fd-9c6d-017702c63405",
      "credentials": {
        "slackApi": {
          "id": "zy0y2ClkZqpTOAE6",
          "name": "Slack - Lukáš - RB EDU"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Node: Sestav thready k načtení\n// Jen vlákna v capture kanálu — bot nemá přístup do cizích kanálů/DM (conversations.replies → channel_not_found).\n// Forwardovaný obsah je už v message attachments (## Forwardovaný obsah v Format → Markdown).\n\nconst pack = $input.first().json;\nconst ev = pack.slackEvent;\nconst threads = [];\nconst seen = new Set();\n\nfunction addThread(channelId, threadTs, label) {\n  if (!channelId || !threadTs) return;\n  const key = `${channelId}:${threadTs}`;\n  if (seen.has(key)) return;\n  seen.add(key);\n  threads.push({ channelId, threadTs, label });\n}\n\nif (ev.thread_ts) {\n  addThread(ev.channel, ev.thread_ts, 'capture');\n}\n\nreturn [{ json: { ...pack, threadsToFetch: threads } }];\n"
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d901",
      "name": "Sestav thready k načtení",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-threads",
              "leftValue": "={{ ($json.threadsToFetch || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d902",
      "name": "Má thready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const pack = $input.first().json;\nconst threads = pack.threadsToFetch || [];\nif (!threads.length) return [];\nreturn threads.map((t) => ({\n  json: {\n    pack,\n    threadChannelId: t.channelId,\n    threadTs: t.threadTs,\n    threadLabel: t.label,\n  },\n}));"
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d903",
      "name": "Rozbal thready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        176
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "replies",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.threadChannelId }}"
        },
        "ts": "={{ $json.threadTs }}",
        "returnAll": true,
        "filters": {
          "inclusive": true
        }
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d904",
      "name": "Slack: Načti vlákno",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        176
      ],
      "credentials": {
        "slackApi": {
          "id": "zy0y2ClkZqpTOAE6",
          "name": "Slack - Lukáš - RB EDU"
        }
      },
      "webhookId": "33b36035-1e8b-4938-8887-966f874f93d3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const pack = $('Sestav thready k načtení').first().json;\nconst ev = pack.slackEvent;\n\nconst threadSections = [];\nlet replyItems = [];\ntry {\n  const agg = $('Aggregate vlákno').first().json;\n  const rows = Array.isArray(agg.threadMessages) ? agg.threadMessages : [];\n  replyItems = rows.map((m) => ({ json: m }));\n} catch (_) {\n  replyItems = [];\n}\n\nconst byThread = new Map();\nfor (const item of replyItems) {\n  const m = item.json || {};\n  const channel = m.channel || 'unknown';\n  const parentTs = m.thread_ts || m.ts;\n  const key = `${channel}:${parentTs}`;\n  if (!byThread.has(key)) byThread.set(key, { messages: [], label: 'forward' });\n  byThread.get(key).messages.push(m);\n}\n\ntry {\n  for (const item of $('Rozbal thready').all()) {\n    const j = item.json || {};\n    const key = `${j.threadChannelId}:${j.threadTs}`;\n    if (byThread.has(key)) byThread.get(key).label = j.threadLabel || 'forward';\n  }\n} catch (_) {}\n\nfor (const [key, sec] of byThread) {\n  const messages = [...sec.messages].sort((a, b) => parseFloat(a.ts || 0) - parseFloat(b.ts || 0));\n  const label = sec.label || 'forward';\n  let filtered = messages;\n  if (label === 'capture') {\n    const triggerTs = parseFloat(ev.ts || 0);\n    filtered = messages.filter((m) => parseFloat(m.ts || 0) >= triggerTs);\n    if (!filtered.length) filtered = messages;\n  }\n  threadSections.push({ key, label, messages: filtered });\n}\n\nfunction collectFiles(msgs) {\n  const out = [];\n  for (const m of msgs) {\n    if (Array.isArray(m.files)) out.push(...m.files);\n  }\n  return out;\n}\n\nconst directFiles = Array.isArray(ev.files) ? ev.files : [];\nconst unfurlFiles = (Array.isArray(ev.attachments) ? ev.attachments : [])\n  .flatMap((a) => (Array.isArray(a?.files) ? a.files : []));\nconst threadFiles = threadSections.flatMap((s) => collectFiles(s.messages));\n\nconst seen = new Set();\nconst files = [];\nfor (const f of [...directFiles, ...unfurlFiles, ...threadFiles]) {\n  const k = f?.id || f?.url_private_download;\n  if (!k || seen.has(k)) continue;\n  seen.add(k);\n  files.push(f);\n}\n\nreturn [{\n  json: {\n    channelId: pack.channelId,\n    slackEvent: ev,\n    files,\n    threadSections,\n    threadsToFetch: pack.threadsToFetch || [],\n  },\n}];"
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d905",
      "name": "Sloučit kontext",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "threadMessages",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d906",
      "name": "Aggregate vlákno",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        784,
        176
      ]
    }
  ],
  "connections": {
    "Slack: nová zpráva": {
      "main": [
        [
          {
            "node": "Filtrovat zprávy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrovat zprávy": {
      "main": [
        [
          {
            "node": "Sestav thready k načtení",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Channel info": {
      "main": [
        [
          {
            "node": "Má přílohy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Má přílohy?": {
      "main": [
        [
          {
            "node": "Připrav přílohy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format → Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Připrav přílohy": {
      "main": [
        [
          {
            "node": "Stáhni přílohu (Slack auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stáhni přílohu (Slack auth)": {
      "main": [
        [
          {
            "node": "Drive: Upload přílohy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload přílohy": {
      "main": [
        [
          {
            "node": "Aggregate přílohy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate přílohy": {
      "main": [
        [
          {
            "node": "Format → Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format → Markdown": {
      "main": [
        [
          {
            "node": "Drive: Save .md to INBOX/slack/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Save .md to INBOX/slack/": {
      "main": [
        [
          {
            "node": "Slack: ✅ reakce po uložení",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sestav thready k načtení": {
      "main": [
        [
          {
            "node": "Má thready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Má thready?": {
      "main": [
        [
          {
            "node": "Rozbal thready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sloučit kontext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rozbal thready": {
      "main": [
        [
          {
            "node": "Slack: Načti vlákno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Načti vlákno": {
      "main": [
        [
          {
            "node": "Aggregate vlákno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sloučit kontext": {
      "main": [
        [
          {
            "node": "Slack: Channel info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate vlákno": {
      "main": [
        [
          {
            "node": "Sloučit kontext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f0788139-f14a-4c94-855a-52d686315ade",
  "activeVersionId": "f0788139-f14a-4c94-855a-52d686315ade",
  "versionCounter": 105,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-22T21:16:57.448Z",
    "createdAt": "2026-06-22T21:16:57.448Z",
    "versionId": "f0788139-f14a-4c94-855a-52d686315ade",
    "workflowId": "rCOoXlfbD1XcVmtn",
    "nodes": [
      {
        "parameters": {
          "trigger": [
            "message"
          ],
          "channelId": {
            "__rl": true,
            "value": "C0B0LJ86MKN",
            "mode": "list",
            "cachedResultName": "_claude-capture"
          },
          "options": {}
        },
        "id": "e8f5d4e9-aa84-44c7-a771-42806b556cb1",
        "name": "Slack: nová zpráva",
        "type": "n8n-nodes-base.slackTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "webhookId": "eb1190e8-d509-45c1-afb0-b656ed55edee",
        "credentials": {
          "slackApi": {
            "id": "zy0y2ClkZqpTOAE6",
            "name": "Slack - Lukáš - RB EDU"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Jen běžné zprávy s obsahem; přeskočí systémové subtype a prázdné pingy\nconst raw = $input.first().json;\nconst ev = raw.event || raw;\nif (!ev || (ev.type && ev.type !== 'message')) return [];\nconst skip = new Set([\n  'channel_join', 'channel_leave', 'group_join', 'message_changed', 'message_deleted',\n  'channel_topic', 'channel_purpose', 'channel_archive', 'channel_unarchive',\n  'pinned_item', 'unpinned_item', 'file_comment'\n]);\nif (ev.subtype && skip.has(ev.subtype)) return [];\nif (ev.subtype === 'bot_message') return [];\nif (!ev.channel) return [];\n\n// Soubory: přímé uploady na zprávu + přílohy z forwardovaných unfurlů\nconst directFiles = Array.isArray(ev.files) ? ev.files : [];\nconst unfurlFiles = (Array.isArray(ev.attachments) ? ev.attachments : [])\n  .flatMap((a) => (Array.isArray(a?.files) ? a.files : []));\nconst seen = new Set();\nconst files = [];\nfor (const f of [...directFiles, ...unfurlFiles]) {\n  const key = f?.id || f?.url_private_download;\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  files.push(f);\n}\n\nconst hasText = ev.text && String(ev.text).trim().length > 0;\nconst hasFiles = files.length > 0;\nconst hasAttachments = Array.isArray(ev.attachments) && ev.attachments.length > 0;\nif (!hasText && !hasFiles && !hasAttachments) return [];\nreturn [{ json: { channelId: ev.channel, slackEvent: ev, files } }];"
        },
        "id": "ca1d5a62-14fc-4db8-a9ec-984a15879dea",
        "name": "Filtrovat zprávy",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "resource": "channel",
          "operation": "get",
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.channelId }}"
          },
          "options": {}
        },
        "id": "c872ce8b-3f3b-4aec-83e4-70cb779c2c34",
        "name": "Slack: Channel info",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          896,
          0
        ],
        "webhookId": "dfdc3725-1f2d-422c-9d10-8499e8931e34",
        "credentials": {
          "slackApi": {
            "id": "zy0y2ClkZqpTOAE6",
            "name": "Slack - Lukáš - RB EDU"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-files",
                "leftValue": "={{ ($('Sloučit kontext').first().json.files || []).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7dd12fa5-c78c-4faf-a67b-dc8b96d68288",
        "name": "Má přílohy?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1120,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Fan-out: 1 zpráva → N items, jeden per příloha\nconst pack = $('Sloučit kontext').first().json;\nconst e = pack.slackEvent;\nconst files = pack.files || [];\nconst date = new Date(parseFloat(e.ts) * 1000);\nconst ts = `${date.getFullYear()}-${String(date.getMonth()+1).padStart(2,'0')}-${String(date.getDate()).padStart(2,'0')}-${String(date.getHours()).padStart(2,'0')}${String(date.getMinutes()).padStart(2,'0')}`;\nreturn files.map((f, i) => {\n  const safeName = String(f.name || 'unnamed').replace(/[\\\\/]/g, '_');\n  const fileTag = f.id || `f${i}`;\n  return {\n    json: {\n      file: f,\n      ts,\n      targetName: `${ts}-${fileTag}-${safeName}`.substring(0, 200)\n    }\n  };\n});"
        },
        "id": "8d469e24-3dde-4795-a0f7-b5e25d1a1b33",
        "name": "Připrav přílohy",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1328,
          192
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.file.url_private_download }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 120000
          }
        },
        "id": "8afddde9-0d60-4b31-aeb2-c9ba0d56c677",
        "name": "Stáhni přílohu (Slack auth)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1552,
          192
        ],
        "credentials": {
          "slackApi": {
            "id": "zy0y2ClkZqpTOAE6",
            "name": "Slack - Lukáš - RB EDU"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $json.targetName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1EppTJt45A8kOyQJoZ8BuneHtiU5nWlXN"
          },
          "options": {}
        },
        "id": "abac1512-0076-4600-8657-c660aea6a85d",
        "name": "Drive: Upload přílohy",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1776,
          192
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "IKFHnIw3Csp8FHyI",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "uploadedAttachments",
          "options": {}
        },
        "id": "bddd2f8a-1552-473d-898c-0b77ffae9b09",
        "name": "Aggregate přílohy",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2000,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "const pack = $('Sloučit kontext').first().json;\nconst e = pack.slackEvent;\nconst channelId = pack.channelId;\nconst ch = $('Slack: Channel info').first().json;\nconst channelName = ch.name || channelId || 'unknown';\n\n// Defensive: Aggregate přílohy běží jen ve větvi 'má přílohy = true'\nlet uploadedAttachments = [];\ntry {\n  const agg = $('Aggregate přílohy').first();\n  if (agg && agg.json && Array.isArray(agg.json.uploadedAttachments)) {\n    uploadedAttachments = agg.json.uploadedAttachments;\n  }\n} catch (_) { /* žádné přílohy v této větvi */ }\n\nconst date = new Date(parseFloat(e.ts) * 1000);\nconst ts = `${date.getFullYear()}-${String(date.getMonth()+1).padStart(2,'0')}-${String(date.getDate()).padStart(2,'0')}-${String(date.getHours()).padStart(2,'0')}${String(date.getMinutes()).padStart(2,'0')}`;\n\nconst ownText = (e.text && String(e.text).trim()) ? String(e.text) : '';\nconst attachments = Array.isArray(e.attachments) ? e.attachments : [];\nconst forwards = attachments.filter(a => a && (a.is_msg_unfurl || a.from_url || a.text || a.fallback));\n\nconst slugSrc = ownText || (forwards[0] && (forwards[0].text || forwards[0].fallback)) || 'zprava';\nconst textSlug = String(slugSrc).replace(/[^a-z0-9 ]/gi,'').trim().replace(/\\s+/g,'-').toLowerCase().substring(0, 50);\nconst filename = `${ts}-${channelName}-${textSlug || 'slack'}.md`.substring(0, 120);\n\nconst permalink = `https://slack.com/archives/${channelId}/p${String(e.ts).replace('.','')}`;\nconst threadNote = e.thread_ts && e.thread_ts !== e.ts ? `**Odpověď ve vlákně** (thread_ts: ${e.thread_ts})` : '';\n\nconst lines = [\n  `# #${channelName}`,\n  '',\n  `**Čas:** ${date.toLocaleString('cs-CZ')}`,\n  `**Uživatel (Slack ID):** ${e.user || '—'}`,\n  threadNote,\n  `**Odkaz:** ${permalink}`,\n  ''\n];\n\nif (ownText) {\n  lines.push('## Komentář', '', ownText, '');\n}\n\nif (forwards.length) {\n  lines.push(`## Forwardovaný obsah${forwards.length > 1 ? ` (${forwards.length})` : ''}`, '');\n  for (const a of forwards) {\n    const author = a.author_name || a.author_subname || '—';\n    const srcChannel = a.channel_name ? `#${a.channel_name}` : (a.channel_id || '');\n    const srcLink = a.from_url || '';\n    const srcTs = a.ts ? new Date(parseFloat(a.ts) * 1000).toLocaleString('cs-CZ') : '';\n    const body = String(a.text || a.fallback || '').replace(/^\\u200B+/, '').trim();\n    lines.push(`### ${author}${srcChannel ? ` v ${srcChannel}` : ''}${srcTs ? ` (${srcTs})` : ''}`);\n    if (srcLink) lines.push(`**Zdroj:** ${srcLink}`);\n    lines.push('');\n    lines.push(body || '_(prázdná příloha)_');\n    lines.push('');\n  }\n}\n\n\n// --- vlákna z Slack API ---\nconst ctx = $('Sloučit kontext').first().json;\nconst threadSections = ctx.threadSections || [];\nif (threadSections.length) {\n  lines.push('## Vlákno (Slack API)', '');\n  for (const sec of threadSections) {\n    const tag = sec.label === 'capture' ? 'capture kanál' : 'zdroj forwardu';\n    lines.push(`### Thread ${sec.key} (${tag})`, '');\n    for (const m of sec.messages) {\n      const mDate = new Date(parseFloat(m.ts || 0) * 1000).toLocaleString('cs-CZ');\n      const who = m.user || m.username || m.bot_id || '?';\n      lines.push(`#### ${who} — ${mDate}`, '', String(m.text || '').trim() || '_(prázdné)_', '');\n      if (Array.isArray(m.files) && m.files.length) {\n        lines.push('**Soubory:**');\n        for (const f of m.files) lines.push(`- ${f.name || f.id}`);\n        lines.push('');\n      }\n    }\n  }\n}\n\nif (uploadedAttachments.length) {\n  lines.push(`## Přílohy${uploadedAttachments.length > 1 ? ` (${uploadedAttachments.length})` : ''}`, '');\n  for (const a of uploadedAttachments) {\n    const link = a.webViewLink || '';\n    const name = a.name || '(bez jména)';\n    const mime = a.mimeType || '';\n    const sizeBytes = a.size ? parseInt(a.size, 10) : 0;\n    const sizeStr = sizeBytes ? (sizeBytes >= 1024*1024 ? `${(sizeBytes/1048576).toFixed(1)} MB` : `${Math.max(1, Math.round(sizeBytes/1024))} kB`) : '';\n    const meta = [mime, sizeStr].filter(Boolean).join(', ');\n    lines.push(`- [${name}](${link})${meta ? ` — ${meta}` : ''}`);\n  }\n  lines.push('');\n}\n\nif (!ownText && !forwards.length && !uploadedAttachments.length) {\n  lines.push('## Text', '', '_(bez textu — v původní zprávě mohou být jen přílohy)_', '');\n}\n\nconst md = lines.join('\\n');\n\nreturn [{ json: { filename, content: md } }];"
        },
        "id": "75c30540-4af3-4527-af79-b4d8560a5030",
        "name": "Format → Markdown",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2208,
          0
        ]
      },
      {
        "parameters": {
          "operation": "createFromText",
          "content": "={{ $json.content }}",
          "name": "={{ $json.filename }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1EppTJt45A8kOyQJoZ8BuneHtiU5nWlXN",
            "mode": "url"
          },
          "options": {}
        },
        "id": "148f9c6a-420d-46a6-9111-21ccbf0a6645",
        "name": "Drive: Save .md to INBOX/slack/",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2432,
          0
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "IKFHnIw3Csp8FHyI",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "reaction",
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Filtrovat zprávy').first().json.channelId }}"
          },
          "timestamp": "={{ $('Filtrovat zprávy').first().json.slackEvent.ts }}",
          "name": "white_check_mark"
        },
        "id": "f8e7a292-971c-44ec-b086-605d94e1d141",
        "name": "Slack: ✅ reakce po uložení",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          2656,
          0
        ],
        "webhookId": "e69db996-d146-46fd-9c6d-017702c63405",
        "credentials": {
          "slackApi": {
            "id": "zy0y2ClkZqpTOAE6",
            "name": "Slack - Lukáš - RB EDU"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Node: Sestav thready k načtení\n// Jen vlákna v capture kanálu — bot nemá přístup do cizích kanálů/DM (conversations.replies → channel_not_found).\n// Forwardovaný obsah je už v message attachments (## Forwardovaný obsah v Format → Markdown).\n\nconst pack = $input.first().json;\nconst ev = pack.slackEvent;\nconst threads = [];\nconst seen = new Set();\n\nfunction addThread(channelId, threadTs, label) {\n  if (!channelId || !threadTs) return;\n  const key = `${channelId}:${threadTs}`;\n  if (seen.has(key)) return;\n  seen.add(key);\n  threads.push({ channelId, threadTs, label });\n}\n\nif (ev.thread_ts) {\n  addThread(ev.channel, ev.thread_ts, 'capture');\n}\n\nreturn [{ json: { ...pack, threadsToFetch: threads } }];\n"
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d901",
        "name": "Sestav thready k načtení",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-threads",
                "leftValue": "={{ ($json.threadsToFetch || []).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d902",
        "name": "Má thready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const pack = $input.first().json;\nconst threads = pack.threadsToFetch || [];\nif (!threads.length) return [];\nreturn threads.map((t) => ({\n  json: {\n    pack,\n    threadChannelId: t.channelId,\n    threadTs: t.threadTs,\n    threadLabel: t.label,\n  },\n}));"
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d903",
        "name": "Rozbal thready",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          176
        ]
      },
      {
        "parameters": {
          "resource": "channel",
          "operation": "replies",
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.threadChannelId }}"
          },
          "ts": "={{ $json.threadTs }}",
          "returnAll": true,
          "filters": {
            "inclusive": true
          }
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d904",
        "name": "Slack: Načti vlákno",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          672,
          176
        ],
        "credentials": {
          "slackApi": {
            "id": "zy0y2ClkZqpTOAE6",
            "name": "Slack - Lukáš - RB EDU"
          }
        },
        "webhookId": "33b36035-1e8b-4938-8887-966f874f93d3",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const pack = $('Sestav thready k načtení').first().json;\nconst ev = pack.slackEvent;\n\nconst threadSections = [];\nlet replyItems = [];\ntry {\n  const agg = $('Aggregate vlákno').first().json;\n  const rows = Array.isArray(agg.threadMessages) ? agg.threadMessages : [];\n  replyItems = rows.map((m) => ({ json: m }));\n} catch (_) {\n  replyItems = [];\n}\n\nconst byThread = new Map();\nfor (const item of replyItems) {\n  const m = item.json || {};\n  const channel = m.channel || 'unknown';\n  const parentTs = m.thread_ts || m.ts;\n  const key = `${channel}:${parentTs}`;\n  if (!byThread.has(key)) byThread.set(key, { messages: [], label: 'forward' });\n  byThread.get(key).messages.push(m);\n}\n\ntry {\n  for (const item of $('Rozbal thready').all()) {\n    const j = item.json || {};\n    const key = `${j.threadChannelId}:${j.threadTs}`;\n    if (byThread.has(key)) byThread.get(key).label = j.threadLabel || 'forward';\n  }\n} catch (_) {}\n\nfor (const [key, sec] of byThread) {\n  const messages = [...sec.messages].sort((a, b) => parseFloat(a.ts || 0) - parseFloat(b.ts || 0));\n  const label = sec.label || 'forward';\n  let filtered = messages;\n  if (label === 'capture') {\n    const triggerTs = parseFloat(ev.ts || 0);\n    filtered = messages.filter((m) => parseFloat(m.ts || 0) >= triggerTs);\n    if (!filtered.length) filtered = messages;\n  }\n  threadSections.push({ key, label, messages: filtered });\n}\n\nfunction collectFiles(msgs) {\n  const out = [];\n  for (const m of msgs) {\n    if (Array.isArray(m.files)) out.push(...m.files);\n  }\n  return out;\n}\n\nconst directFiles = Array.isArray(ev.files) ? ev.files : [];\nconst unfurlFiles = (Array.isArray(ev.attachments) ? ev.attachments : [])\n  .flatMap((a) => (Array.isArray(a?.files) ? a.files : []));\nconst threadFiles = threadSections.flatMap((s) => collectFiles(s.messages));\n\nconst seen = new Set();\nconst files = [];\nfor (const f of [...directFiles, ...unfurlFiles, ...threadFiles]) {\n  const k = f?.id || f?.url_private_download;\n  if (!k || seen.has(k)) continue;\n  seen.add(k);\n  files.push(f);\n}\n\nreturn [{\n  json: {\n    channelId: pack.channelId,\n    slackEvent: ev,\n    files,\n    threadSections,\n    threadsToFetch: pack.threadsToFetch || [],\n  },\n}];"
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d905",
        "name": "Sloučit kontext",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "threadMessages",
          "options": {}
        },
        "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d906",
        "name": "Aggregate vlákno",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          784,
          176
        ]
      }
    ],
    "connections": {
      "Slack: nová zpráva": {
        "main": [
          [
            {
              "node": "Filtrovat zprávy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrovat zprávy": {
        "main": [
          [
            {
              "node": "Sestav thready k načtení",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: Channel info": {
        "main": [
          [
            {
              "node": "Má přílohy?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Má přílohy?": {
        "main": [
          [
            {
              "node": "Připrav přílohy",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format → Markdown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Připrav přílohy": {
        "main": [
          [
            {
              "node": "Stáhni přílohu (Slack auth)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stáhni přílohu (Slack auth)": {
        "main": [
          [
            {
              "node": "Drive: Upload přílohy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Upload přílohy": {
        "main": [
          [
            {
              "node": "Aggregate přílohy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate přílohy": {
        "main": [
          [
            {
              "node": "Format → Markdown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format → Markdown": {
        "main": [
          [
            {
              "node": "Drive: Save .md to INBOX/slack/",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive: Save .md to INBOX/slack/": {
        "main": [
          [
            {
              "node": "Slack: ✅ reakce po uložení",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sestav thready k načtení": {
        "main": [
          [
            {
              "node": "Má thready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Má thready?": {
        "main": [
          [
            {
              "node": "Rozbal thready",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sloučit kontext",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rozbal thready": {
        "main": [
          [
            {
              "node": "Slack: Načti vlákno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: Načti vlákno": {
        "main": [
          [
            {
              "node": "Aggregate vlákno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sloučit kontext": {
        "main": [
          [
            {
              "node": "Slack: Channel info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate vlákno": {
        "main": [
          [
            {
              "node": "Sloučit kontext",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Michal Šrajer",
    "name": null,
    "description": null,
    "autosaved": false
  }
}
